{% extends "base.html" %}

{% block content %}

    <main class="hero-section">
        <div class="container">

            <div class="section-content">
                <h2>Love Galore</h2>
                <a href="#" class="btn-primarry">Sing up</a>
                <a href="{{ url_for('about') }}" class="btn-primarry">Learn more</a>    
            </div>
            <div class="section-device">
                <img src="">
            </div>

            <div class="clearfix"></div>

        
        </div>
    </main>
{% endblock %}
